/* Space out content a bit */
body {
/*  padding-top: 20px;*/
  padding-bottom: 20px;
  background-color: #888;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.nav > li > a{
  margin: 5px 3px 5px 3px;
}

.img-panel-heading{
  margin-right: 10px;
}

.panel-tweet-text {
  height: 140px;
}

.panel-tweet-heading {
  height: 100px;
}

.panel-tweet-heading a,.panel-tweet-heading a:hover, .panel-tweet-heading a:focus {
  color: #000000;
  text-decoration: none;
}

/* Custom page footer */
.footer {
  padding-top: 5px;
  color: #000000;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.container{
  margin-bottom: 20px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Large desktop */
@media (min-width: 1200px) {
  .panel-tweet-text {
    height: 140px;
  }

  .panel-tweet-heading {
    height: 100px;
  }
}

/* Responsive: Portrait tablets and up - Medium */
/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) {
  .panel-tweet-text {
    height: 170px;
  }

  .panel-tweet-heading {
    height: 100px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* SMALL - Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .panel-tweet-text{
    height: 100px;
  }

  .panel-tweet-heading {
    height: 100px;
  }

}

/* XTRA-SMALL Landscape phones and down */
@media (max-width: 480px) {
  .panel-tweet-text{
    height: 100px;
  }

  .panel-tweet-heading {
    height: 100px;
  }

}